.input {
  background: rgb(16 22 29);
  width: 100%;
  aspect-ratio: 5 / 1;
  border-radius: 16px;
  box-shadow: 0px 4px 24px rgba(0 0 0);
  border: 1px solid rgba(80 80 80);
  display: flex;
  padding: 24px;
  align-items: stretch;
  flex-direction: column;
  gap: clamp(12px, 3vw, 16px);
}

.row {
  display: flex;
  gap: clamp(12px, 4vw, 24px);
  justify-content: center;
  height: clamp(36px, 6vw, 44px);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(12px, 4vw, 18px);
  color: rgba(255 255 255);
}

@media (max-width: 500px) {
  .input {
    padding: 16px;
  }
}
