# Secret files
**/.env
**/.env.*
**/*.env
**/*.pem
**/*.key
**/*.crt
**/*.cert
**/*.secret
**/*.credentials
**/credentials.*
**/*.token
**/secrets.*

# Log files and directorires
**/logs
**/*.log
**/*.log*

# Terraform files and directorires
**/.terraform/*
**/*.tfstate
**/*.tfstate.*
**/*.tfvars
**/*.tfvars.json
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
**/*tfplan*
**/.terraformrc
**/terraform.rc

# React directories and files
**/node_modules
**/dist
**/dist-ssr
**/*.local

# Go binaries
**/bin

# Editor directories and files
**/.vscode/*
**/!.vscode/extensions.json
**/.idea
**/.DS_Store
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?
