.button {
  border: none;
  background: transparent;
  cursor: pointer;
  font: inherit;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  container-type: size;
  height: 100%;
  aspect-ratio: 1;
  font-size: clamp(0.7rem, 3vw, 1rem);
  background: rgba(29 34 41);
  color: rgba(255 255 255);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: 400ms all ease;
}

.button:hover {
  background: rgba(42 47 54);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.button[aria-selected="true"] {
  background-color: rgba(65, 105, 225, 0.3);
  border-color: rgba(65, 105, 225, 0.7);
}
