:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  place-items: center;
  min-height: 100vh;
}

#root {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

/* Shared glassmorphism effect */
.glassmorphism {
  background-color: rgba(70, 70, 70, 0.45);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
